<!-- Navigation -->
<nav class="main navbar navbar-custom navbar-fixed-top" role="navigation">
    <div class="container">
        <div class="navbar-header">

        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse navbar-right navbar-main-collapse">

        </div>
    </div>
    <!-- /.container -->
</nav>


<!-- About Section -->
<section id="main-content" class="container content-section text-center">
    <div class="row">
        <div class="col-lg-8 col-lg-offset-2">
            <main role="main" id="main">
                <h1>Welcome</h1>


                <div class="content-inner"></div>
            </main>
        </div>
    </div>
</section>


<!-- Footer -->
<footer>
    <div class="container text-center">
        <p>Copyright &copy; Your Website 2014</p>
    </div>
</footer>


