$icon-font-path: "bower_components/bootstrap-sass-official/assets/fonts/";
@import '../../bower_components/bootstrap-sass-official/assets/stylesheets/bootstrap.scss';


$fa-font-path: '../../bower_components/fontawesome/fonts';
@import '../../bower_components/fontawesome/scss/font-awesome.scss';

@import 'variables';
@import 'bootswatch';

#main-content {
	margin-top: 50px;
}

