<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-main-collapse">
    <i class="fa fa-bars"></i>
</button>

<a class="navbar-brand page-scroll" href="#page-top" title="{{description}}">
    <i class="fa fa-play-circle"></i> <span class="light">{{title}}</span>
</a>
